<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controldealmacen">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlDeAlmacen">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.MainActivity"
            android:exported="false" />

        <activity android:name=".ui.inventory.ProductosActivity" />
        <activity android:name=".ui.inventory.AddProductoActivity" />
        <activity android:name=".ui.inventory.EditarProductoActivity" />
        <activity android:name=".ui.inventory.InventarioActivity" />
        <activity android:name=".ui.inventory.InformeMensualActivity" />

        <activity android:name=".ui.auth.RegistroActivity" />
        <activity android:name=".ui.auth.GestionPerfilesActivity" />

        <activity android:name=".ui.proveedores.ProveedoresActivity" />
        <activity android:name=".ui.proveedores.AddProveedorActivity" />

        <activity android:name=".ui.albaranes.AddAlbaranActivity" />
        <activity android:name=".ui.albaranes.AlbaranesActivity" />
        <activity android:name=".ui.albaranes.ResumenInformeActivity" />

    </application>
</manifest>